POSTGRES_DB=gelu_menu
POSTGRES_USER=gelu_menu
POSTGRES_PASSWORD=gelu_menu
POSTGRES_PORT=5432

MINIO_ROOT_USER=gelu_menu
MINIO_ROOT_PASSWORD=gelu_menu123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
